.error{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content{
    text-align: center;
    font-size: 3rem;
    font-style: italic;
    color: red;
}
.home-button{
        margin: 10px;
    padding: 10px;
}
.home-button a{
    text-decoration: none;
    font-size: 1.2rem;
    color: grey;
}