<link rel="stylesheet" href="/css/error/home.css">
<div class="error">
    <p class="content">
        <%= error%>
    </p>
    <div class="home-button">
        <a href="/">GO TO Homepage</a>
    </div>
</div>