<form action="/user/create-session" method="post">
    <input type="email" name="email" required placeholder="Enter your Email" id="">
    <input type="password" name="password" required placeholder="Enter your Password" id="">
    <input type="submit" value="Sign In">
</form>