<form action="/add-user" method="post">
    <input type="text" name="username" required placeholder="Enter User Name" id="">
    <input type="email" name="email" required placeholder="Enter your Email" id="">
    <input type="password" name="password" required placeholder="Enter a suitable password" id="">
    <input type="password" name="confirm_password" required placeholder="Confirm your password" id="">
    <input type="submit" value="Sign Up">
</form>    