body{
    margin: 0px;
    width: 80%;
    margin: auto;
    font-size: 20px;
}
p{
    margin: 0px;
}
a{
    text-decoration: none;
}
#home-header{
    height: 28vh;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
}

.heading{
    flex-basis: 75%;
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;

}

.heading-content{
    align-self: flex-end;
    font-size: 6rem;
    margin: 0px;
    color: rgb(136, 74, 74);
}

.task-menu{
    width: 20%;
    justify-content: center;
    margin: 10px ;
}
.home-button{
    margin: 10px 10px 0px 0px;
    height: fit-content;
    padding: 5px;
    box-shadow: 0px 2px 4px 2px grey;
}
.home-button a{
    color: grey;
    font-size: 1.5rem;
    
}
.home-button:hover{
    box-shadow: 0px 2px 4px 2px grey;
    border-radius: 10px;
}