body{
    margin: 0px;
    width: 80%;
    margin: auto;
    font-size: 20px;
}

#home-header{
    height: 30vh;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
}

.heading{
    flex-basis: 75%;
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;

}

.heading-content{
    align-self: flex-end;
    font-size: 6rem;
    margin: 0px;
    color: rgb(136, 74, 74);
}

.task-menu{
    width: 20%;
    justify-content: center;
    margin: 10px ;
}
