/* MAIN CONTENT PROPERTIES  */
.sign-in-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

/* PROPERTIES ON HEADING "SIGN IN " */
.sign-in-heading{
    font-size: 2.5rem;
    color: rgb(165, 14, 14);
}

/* THE SIGN IN FORM  */
.sign-in-form{
    display: flex;
    flex-direction: column;
}

.sign-in-input input::placeholder{
    color: grey;
    font-style: italic;
    font-size: 1.2rem;

}
.sign-in-input input::before{
    content:":";
}
.sign-in-form input:focus{
    outline: none;
    border-bottom: 1px solid grey;
}

/* COMBINED LABEL AND INPUT PROPERTIES  */
.sign-in-input{
    display: flex;
    justify-content: space-between;
}

/* LABEL TAG  */
.sign-in-input label{
    margin: 5px 15px;
}
/* INPUT TAG  */
.sign-in-input input{
    margin: 5px 15px;
    border: none;
    width: 25rem;
    font-size: 1.3rem;
    font-weight: 200;
    font-style: italic;
}
.sign-in-form input[type='submit']{
    align-self: flex-end;
    margin: 15px;
    width: 5rem;
    height: 2rem;
    font-size: 1.2rem;
    padding: 5px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 10px;
}