<link rel="stylesheet" href="/css/home/_footerhome.css">
<footer class="home-footer">
    <p class="created-by">
        Created and Developed by
    </p>
    <address class="h-card vcard address-details">
        <p class="creator-name">
            Aman Tiwari
        </p>
        <ul class="contact-details">
            <li class="contact-item">
                <i class="fa-solid fa-phone"></i>
                <p>+91 8303024282</p>
            </li>
            <li class="contact-item">
                <i class="fa-solid fa-envelope"></i>
                <a href="mailto:er.amantiwari.2002@gmail.com">
                    er.amantiwari.2002@gmail.com
                </a>
            </li>
        </ul>
    </address>
</footer>
<script src="https://kit.fontawesome.com/e784f7575e.js" crossorigin="anonymous"></script>