
<!-- Header line TODO APP  -->

<header class='main-heading'>
    <p class='heading-content'>TODO App</p>
</header>

<div id="home">
    <a href="/">Home</a>
</div>
<div class="signout">
    <a href="/user/sign-out" id="sign-out-link">Sign Out</a>
</div>