<link rel="stylesheet" href="/css/userProfile/_header.css">
<!-- Header line TODO APP  -->

<header class='main-heading'>
    <p class='heading-content'>TODO App</p>


<div class="nav-bar">
    <ul class="nav">
        <li class="menu">
            <div id="home">
                <a href="/">Home</a>
            </div>
        </li>
        <li class="menu">
            <div class="signout">
                <a href="/user/sign-out">Sign Out</a>
            </div>
        </li>
    </ul>
</div>

</header>